.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
}

.botones {
  display: flex;
  background-color: white;
  flex-direction: column;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  gap: 10px;
}
img {
  width: 100px;
  margin-bottom: 20px;
}