/* reset y base */
html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f1c3eb, #ffffff);
  overflow-x: hidden;
  overflow-y: auto;
}

/* estilos generales */
* {
  box-sizing: border-box;
}
